.bills-from div:nth-child(1) {
   grid-area: authorAddress;
}
.bills-from div:nth-child(2) {
   grid-area: authorCity;
}
.bills-from div:nth-child(3) {
   grid-area: authorPostCode;
}
.bills-from div:nth-child(4) {
   grid-area: authorCountry;
}

.bills-from {
   grid-template-areas:
      'authorAddress authorAddress authorAddress authorAddress authorAddress authorAddress'
      'authorCity authorCity authorCity authorPostCode authorPostCode authorPostCode'
      'authorCountry authorCountry authorCountry authorCountry authorCountry authorCountry';

   @media only screen and (min-width: 768px) {
      grid-template-areas:
         'authorAddress authorAddress authorAddress authorAddress authorAddress authorAddress'
         'authorCity authorCity authorPostCode authorPostCode authorCountry authorCountry';
   }
}

.bills-to div:nth-child(1) {
   grid-area: client_name;
}
.bills-to div:nth-child(2) {
   grid-area: client_email;
}
.bills-to div:nth-child(3) {
   grid-area: client_address;
}
.bills-to div:nth-child(4) {
   grid-area: client_city;
}
.bills-to div:nth-child(5) {
   grid-area: client_post_code;
}
.bills-to div:nth-child(6) {
   grid-area: client_country;
}
.bills-to div:nth-child(7) {
   grid-area: invoice_date;
}
.bills-to div:nth-child(8) {
   grid-area: payment_terms;
}
.bills-to div:nth-child(9) {
   grid-area: project_name;
}

.bills-to {
   grid-template-areas:
      'client_name client_name client_name client_name client_name client_name'
      'client_email client_email client_email client_email client_email client_email'
      'client_address client_address client_address client_address client_address client_address'
      'client_city client_city client_city client_post_code client_post_code client_post_code'
      'client_country client_country client_country client_country client_country client_country'
      'invoice_date invoice_date invoice_date invoice_date invoice_date invoice_date'
      'payment_terms payment_terms payment_terms payment_terms payment_terms payment_terms'
      'project_name project_name project_name project_name project_name project_name';

   @media only screen and (min-width: 768px) {
      grid-template-areas:
         'client_name client_name client_name client_name client_name client_name'
         'client_email client_email client_email client_email client_email client_email'
         'client_address client_address client_address client_address client_address client_address'
         'client_city client_city client_post_code client_post_code  client_country client_country'
         'invoice_date invoice_date invoice_date payment_terms payment_terms payment_terms'
         'project_name project_name project_name project_name project_name project_name';
   }
}

.group-inputs div:nth-child(1) {
   grid-area: name;
}
.group-inputs div:nth-child(2) {
   grid-area: quantity;
   // max-width: 30px;
}
.group-inputs div:nth-child(3) {
   grid-area: price;
}
.group-inputs p {
   grid-area: total;
}
.group-inputs div:nth-child(4) {
   grid-area: delete_icon;
}

.group-inputs {
   // grid-template-areas:

   @media only screen and (min-width: 768px) {
      grid-template-areas: 'name name name name quantity price price total total total total delete_icon delete_icon';
   }
}

// .group-input-labels p {
//    width: 100%;
// }

// .group-input-labels p:nth-child(1) {
//    grid-area: name;
// }

// .group-input-labels p:nth-child(2) {
//    grid-area: quantity;
// }

// .group-input-labels p:nth-child(3) {
//    grid-area: price;
// }

// .group-input-labels p:nth-child(4) {
//    grid-area: total;
// }

// .group-input-labels p:nth-child(5) {
//    grid-area: delete_icon;
// }

// .group-input-labels {
//    @media only screen and (min-width: 768px) {
//       grid-template-areas: 'name name name name name name name name quantity price price total total total total delete_icon delete_icon';
//    }
// }
