/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type='number'] {
   -moz-appearance: textfield;
}

.input {
   border: 1px solid var(--black-2);
   @apply pl-5 h-12 outline-0 bold-15 mt-2 rounded bg-black w-full;
}

.label,
.group-input-labels p {
   @apply text-[.82rem] font-medium text-grey;
}

.error-msg {
   @apply text-orange text-xs absolute top-[6px] right-0 font-medium;
}

.dropdown {
   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
   @apply flex flex-col gap-4;

   label {
      @apply text-[15px] font-bold;
   }

   > div {
      @apply gap-3 flex items-center;
   }

   input[type='checkbox'] {
      accent-color: var(--blue);
      @apply w-4 h-4;
   }
}
