.flex-center {
   @apply flex items-center;
}

.toggle-btn {
   border-right: 1px solid #494e6e;
}

.flex-justify-center {
   @apply flex items-center justify-center;
}

.bold-15,
.details p:not(.address) span:nth-child(3) {
   @apply font-bold text-[.94rem];
}

.medium-13,
.details p:not(.address) span:nth-child(1) {
   @apply text-[.82rem] font-medium text-grey;
}

.status {
   @apply w-[104px] h-10 rounded-md flex-justify-center;

   span {
      @apply flex-justify-center gap-2;

      &::before {
         content: '';
         @apply flex rounded-full h-2 w-2;
         background-color: var(--indicator-color);
      }
   }
}

.details p:not(.address) span:nth-child(1) {
   @apply mb-3 inline-block;
}

.price p {
   @apply bold-15;
}

.control-links button,
.control-btn button {
   @apply flex justify-center items-center h-10 rounded-[24px] px-6 bold-15;
}

.overlay {
   background: rgba(0, 0, 0, 0.5);
   @apply fixed top-0 bottom-0 left-0 right-0 z-30 w-full flex-justify-center;
}

@media only screen and (min-width: 1024px) {
   .toggle-btn {
      border-right: 0;
      border-bottom: 1px solid #494e6e;
   }

   nav {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
   }
}

th {
   @apply font-medium text-[13px] text-grey;
}

th,
td {
   @apply pb-8;
}

.wrapper {
   background: rgba(0, 0, 0, 0.4);
   @apply md:absolute top-0 bottom-0 left-0 right-0 w-full;

   > div {
      overflow-y: scroll;
   }
}

button {
   cursor: pointer;
}

.bottom-btns {
   @apply px-6 lg:px-0 py-[22px] bg-black mt-16 
    md:rounded-r-[20px] lg:bg-black-4 lg:rounded-r-none sticky right-0 left-0 bottom-0;
   box-shadow: 0 -57px 114px -25px #000;
}

.invoice-wrap {
   @apply bg-black rounded-lg px-6 py-7 mt-7 md:flex justify-between relative cursor-pointer;

   &:hover {
      outline: 2px solid var(--blue);
   }
}

.invoice-title {
   @apply bold-15 text-blue my-6 md:mt-12;
}
